<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QuizDB"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Quiz;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- SMTP settings -->
		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUser" value="youremail@gmail.com" />
		<add key="SmtpPass" value="your_app_password_here" />
		<add key="SmtpEnableSsl" value="true" />
		<add key="FromDisplayName" value="Quiz App Support" />
	</appSettings>
</configuration>
